<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a60e3">  <td>21/06/03 08:49:53</td>   <td>0</td> <td title="&gt;&gt;LoginForModules.setup()[pri:0, instance:virtusa.scripts.LoginForModules@4883b407]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>21/06/03 08:50:11</td>   <td>18038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginForModules.modulesHistory()[pri:0, instance:virtusa.scripts.LoginForModules@4883b407]">modulesHistory</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>21/06/03 08:50:11</td>   <td>18099</td> <td title="&lt;&lt;LoginForModules.tearDown()[pri:0, instance:virtusa.scripts.LoginForModules@4883b407]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
</table>
